@import url("footer.css");
@import url("main.css");
@import url("general-details.css");


@media(max-width:575px) {
  .main-container {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    /*grid-gap: 10px;*/
    grid-template-areas: "navigation" "sidebar" "content" "footer";
    /* border: 1px solid yellow;*/
    justify-content: center;
    grid-auto-rows: max-content;
  }
  .navigation {
    grid-area: navigation;
    margin: 0 auto;
    background: #ffffff;
  }
  .navigation ul {
    /*border: 1px solid #8583e1;*/
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .navigation li {
    flex-grow: 1;
    overflow: hidden;
  }
  a.nav {
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    background: #100f3a;
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.26);
    box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.26);
  }
  a.nav:hover {
    background: #8583e1;
  }
  .sidebar {
    grid-area: sidebar;
    /*background-color: yellowgreen;*/
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  .general-foto {
    order: 1;
    background-image: url("../images/lin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
  }
  .general-info-container {
    order: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #100f3a;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 380px;
  }
  .general-title {
    order: 1;
    height: auto;
    color: #ffffff;
    line-height: 1.2;
    background-color: #100f3a;
    font-weight: 450;
    margin-top: 14px;
  }
  .general-details {
    order: 2;
    height: auto;
    display: inline;
    text-align: left;
    color: rgb(122, 121, 140);
    line-height: 2;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  .general-details ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: max-content;
    align-content: center;
  }
  .general-details-ico img {
    vertical-align: middle;
  }
  .white {
    font-size: 1em;
    color: white;
  }
  a.gen1:link {
    color: #ffffff;
  }
  a.gen1:hover,
  a.gen1:active {
    color: #a8a8a8;
  }
  .content {
    grid-area: content;
    background-color: #f5f0f0;
    color: black;    
  }
  .content-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: flex-start;
    height: max-content;
    margin: 30px;
  }
  .content-title h1 {
    vertical-align: top;
    margin: 0;
    padding: 0;
    font-size: 2em;
  }
  .content-subtitle h2 {
    vertical-align: bottom;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 0.25;
    font-weight: 500;
  }
  .card-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .card-item {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1em;
    -webkit-box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.26);
    box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.26);
  }
  #date-bottom-left {
    flex: 50%;
    text-align: left;
  }
  .card-content img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 200px;
    max-height: 200px;
  }
  .card-content p {
    flex: 1 0 auto;
  }
  a.card {
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    background: #100f3a;
    padding: 20px 5px;
    display: inline-block;
    text-align: center;
  }
  a.card:hover {
    background: #8583e1;
  }
}
@media (min-width: 575px) {
  .main-container {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    /*grid-gap: 10px;*/
    grid-template-areas: "navigation" "sidebar" "content" "footer";
    justify-content: center;
    grid-auto-rows: max-content;
  }
  .navigation {
    grid-area: navigation;
    margin: 0 auto;
    background: #ffffff;
    /*padding: 0 3em 1.5em;*/
  }
  .navigation ul {
    /*border: 1px solid #8583e1;*/
    list-style: none;
    margin: 0;
    padding: 0px 0px 1px 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .navigation li {
    flex-grow: 1;
    overflow: hidden;
  }
  a.nav {
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    background: #100f3a;
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.26);
    box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.26);
  }
  a.nav:hover {
    background: #8583e1;
  }
  .sidebar {
    grid-area: sidebar;
    /*background-color: yellowgreen;*/
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .general-foto {
    order: 1;
    background-image: url("../images/lin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    flex: 3 1 auto;
  }
  .general-info-container {
    order: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #100f3a;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 auto;
  }
  .general-title {
    order: 1;
    height: auto;
    color: #ffffff;
    line-height: 1.2;
    background-color: #100f3a;
    font-weight: 450;
    margin-top: 14px;
  }
  .general-details {
    order: 2;
    height: auto;
    display: inline;
    text-align: left;
    color: #7a798c;
    line-height: 2;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  .general-details ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: max-content;
    align-content: center;
  }
  .general-details-ico img {
    vertical-align: middle;
  }
  .white {
    font-size: 1em;
    color: white;
  }
  a.gen1:link {
    color: #ffffff;
  }
  a.gen1:hover,
  a.gen1:active {
    color: #a8a8a8;
  }
  .content {
    grid-area: content;
    background-color: #f5f0f0;
    color: black;
  }
  .content-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    height: max-content;
    margin: 30px;
  }
  .content-title h1 {
    vertical-align: top;
    margin: 0;
    padding: 0;
    font-size: 2em;
  }
  .content-subtitle h2 {
    vertical-align: bottom;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 0.25;
    font-weight: 500;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .card-item {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1em;
    -webkit-box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.26);
    box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.26);
    width: 200px;
  }
  #date-bottom-left {
    flex: 50%;
    text-align: left;
  }
  .card-content img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 200px;
    max-height: 200px;
  }
  .card-content p {
    flex: 1 0 auto;
  }
  a.card {
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    background: #100f3a;
    padding: 20px 5px;
    display: inline-block;
    text-align: center;
  }
  a.card:hover {
    background: #8583e1;
  }
}
@media (min-width: 979px) {
    .main-container {
      display: grid;
      margin: auto;
      grid-template-columns: 1fr 4fr;
      grid-template-rows: auto auto auto auto;
      /*grid-gap: 10px;*/
      grid-template-areas: "navigation content" "sidebar content" "footer footer";
      grid-auto-rows: max-content;
    }
    .navigation {
      grid-area: navigation;
      margin: au0to auto;
      background: #ffffff;
    }
    .navigation ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
    }
    .navigation li {
      flex-grow: 1;
      overflow: hidden;
    }
    a.nav {
      color: white;
      font-weight: 300;
      letter-spacing: 2px;
      text-decoration: none;
      background: #100f3a;
      padding: 20px 5px;
      display: inline-block;
      width: 100%;
      text-align: center;
      -webkit-box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.26);
      box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.26);
    }
    a.nav:hover {
      background: #8583e1;
    }
    .sidebar {
      grid-area: sidebar;
      display: flex;
      align-items: stretch;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .general-foto {
      display: flex;
      order: 1;
      background-image: url("../images/lin.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 500px;
      flex: 2 1 auto;
    }
    .general-info-container {
      order: 2;
      text-overflow: ellipsis;
      background-color: #100f3a;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      min-width: 380px;
    }
    .general-title {
      order: 1;
      height: auto;
      color: #ffffff;
      line-height: 1.2;
      background-color: #100f3a;
      font-weight: 450;
      margin-top: 14px;
      font-size: 20px;
    }
    .general-details {
      order: 2;
      height: auto;
      display: inline;
      text-align: left;
      color: #7a798c;
      line-height: 2;
      font-size: 16px;
      margin: 0;
      padding: 0;
    }
    .general-details ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: max-content;
      align-content: center;
      padding: 10px;
    }
    .general-details-ico img {
      vertical-align: middle;
    }
    .white {
      font-size: 1em;
      color: white;
    }
    a.gen1:link {
      color: #ffffff;
    }
    a.gen1:hover,
    a.gen1:active {
      color: #a8a8a8;
    }
    .content {
      grid-area: content;
      background-color: #f5f0f0;
      color: black;
      /*border: 4px dotted blue;*/
      padding: 0px 50px 0px 0px;
    }
    .content-container {
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      align-items: center;
      height: max-content;
      margin: 30px;
    }
    .content-title h1 {
      vertical-align: top;
      margin: 0;
      padding: 0;
      font-size: 2em;
      font-size: 92px;
      color: #100f3a;
    }
    .content-subtitle h2 {
      vertical-align: bottom;
      margin: 0;
      padding: 0;
      font-size: 1em;
      line-height: 0.25;
      font-weight: 500;
      font-size: 30px;
      color: #7a798c;
    }
    .card-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: left;
    }
    .card-item {
      display: flex;
      flex-direction: row;
      padding: 0.5em;
    }
    .card-content {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding: 1em;
      -webkit-box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.26);
      box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.26);
      width: 200px;
    }
    #date-bottom-left {
      flex: 50%;
      text-align: left;
    }
    .card-content img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      max-width: 200px;
      max-height: 200px;
    }
    .card-content p {
      flex: 1 0 auto;
    }
    a.card {
      color: white;
      font-weight: 300;
      letter-spacing: 2px;
      text-decoration: none;
      background: #100f3a;
      padding: 20px 5px;
      display: inline-block;
      text-align: center;
    }
    a.card:hover {
      background: #8583e1;
    }
}

